.bg-get-in-touch {
  background-color: #252B42;
}

.icon-color2 {
  color: #295C7A;
}

.card {
  background-color: #f1f1f1;
  transition: all 0.3s ease;
  z-index: 1;
}

.card:hover {
  z-index: 2;
  background-color: #dfdfdf;
  transform: scale(1.1);
}